@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}	

	body {
		background-color: white;
		/*font-family: Palatino, Helvetica, sans-serif;*/
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		/*font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;*/

		font-size: 14px;
		text-align: center;
	}
	
	.site {
		font-family: 'Helvetica', sans-serif;
		font-size: 110%;
		text-align: justify;
		width: 320px;
		margin: 3em auto 2em auto;
		line-height: 1.5em;
	}

	.title {
		font-family: 'AmericanTypewriter-Bold', cursive;
		color: #a00;
		font-weight: bold;
		margin-bottom: 2em;
	}
}