/* Common */

/* Global Reset */

html, body {
    height: 100%;
}

* {
}

body {
    background-color: white;
	font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-align: center;
	-webkit-font-smoothing: antialiased;
}

.sidebar {
	position: fixed;
	left: 15px;
	top: 15px;
	width: 80px;
	font-family: 'PT Sans', sans-serif;
	
	a {
		text-decoration: none;
	}
	
	img {
		padding: 0 3px;
		border: 0;
	}
	
	.avatar {
		padding: 0;
		margin-left: 2px;
		border-radius: 3px;
	}
	
	.name {
		text-transform: uppercase;
		margin: 10px 0 20px 0;
		
		#sarat {
			padding-left: 1px;
			font-size: 23px;
			letter-spacing: 5px;
			color: #000000;
		}
		
		.meta a {
			margin-left: 5px;
			color: #000000;
			
			&:hover {
				color: #227CE8;
			}
		}
	}
}