/* Common */

/* Global Reset */

html, body {
    height: 100%;
}

* {
}

body {
    background-color: white;
	font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-align: center;
	-webkit-font-smoothing: antialiased;
}

.sidebar {
	position: fixed;
	left: 15px;
	top: 15px;
	width: 80px;
	font-family: 'PT Sans', sans-serif;
	
	a {
		text-decoration: none;
	}
	
	img {
		padding: 0 3px;
		border: 0;
	}
	
	.avatar {
		padding: 0;
		margin-left: 2px;
		border-radius: 3px;
	}
	
	.name {
		text-transform: uppercase;
		margin: 10px 0 20px 0;
		
		#sarat {
			padding-left: 1px;
			font-size: 23px;
			letter-spacing: 5px;
			color: #000000;
		}
		
		.meta a {
			margin-left: 5px;
			color: #000000;
			
			&:hover {
				color: #227CE8;
			}
		}
	}
}


.content {
	margin-left: 110px;
	width: 650px;
	margin-bottom: 50px;
  

	h1 {
		font-size: 36px;
		margin: 18px 0 5px 0;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 15px;
	}

	h3 {
		color: #777;
		font-size: 25px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
  
	p {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 1.2em;
		line-height: 1.7em;

		code {
			font-size: 12px;
			background-color: #eeeeee;
			border: 1px solid #777777;
			border-radius: 3px;
			padding: 2px 3px;
		}
	}
}