/* Common */

/* Global Reset */

html, body {
    height: 100%;
}

$blue: #227CE8;
$black: #000000;

$serif:  'PT Sans', sans-serif;
$sans: Helvetica, sans-serif;
$headline: 'Patua One', cursive', $sans;
$monocode: 'Source Code Pro', Consolas, monospace;

* {
}

body {
    background-color: white;
	font-family: $serif;
    font-size: 15px;
    text-align: center;
	-webkit-font-smoothing: antialiased;
}

.sidebar {
	position: fixed;
	left: 15px;
	top: 15px;
	width: 80px;
	font-family: $serif;
	
	a {
		text-decoration: none;
	}
	
	img {
		padding: 0 3px;
		border: 0;
	}
	
	.avatar {
		padding: 0;
		margin-left: 2px;
		border-radius: 3px;
	}
	
	.name {
		text-transform: uppercase;
		margin: 10px 0 20px 0;
		
		#sarat {
			padding-left: 1px;
			font-size: 23px;
			letter-spacing: 5px;
			color: $black;
		}
		
		.meta a {
			margin-left: 5px;
			color: $black;
			
			&:hover {
				color: $blue;
			}
		}
	}
}