<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title>{{ page.title }}</title>
		<meta name="author" content="@sarat" />
		<meta name="description" content="Mostly technical writing by Sarath." />
		<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
		<link href="/css/media-queries.css" rel="stylesheet" type="text/css">    
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|PT+Sans|Patua+One' rel='stylesheet' type='text/css'>
		
	</head>
	<body>
		<section class="sidebar">
			<a href="/">
				<img src="images/sarat.jpg", width = 75", class="avatar"/>
			</a>
			<section class="name">
				<a href="/">
					<span id="sarat">Sarath</span>
				</a>
			</section>
			
			<section class="social">
				<a href="http://github.com/isarat" class="ss-icon ss-social-circle">iSarath</a>
				<a href="http://twitter.com/sarat" class="ss-icon ss-social-circle">sarat</a>
			</section>
			<section class="sections">
				<li><a href="/about">about</a></li>
			</section>
		</section>

		{{ content }}

		<a href="http://github.com/isarat">
			<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
		</a>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-2191463-7']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
