<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Sarath" />
  <meta name="description" content="Writings by Sarath." />
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/isarat" />
  <link rel="stylesheet" href="/css/compiled/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/plugins/pygments.css" type="text/css" />
  <link href="/webfonts/ss-social.css" rel="stylesheet" />
  <link media="only screen and (max-device-width: 480px)" href="/css/compiled/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/compiled/iphone.css" type="text/css" rel="stylesheet" />
  <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'-->
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/9db673b7-90d6-4a42-b52a-d09a3c45b903.js"></script>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/compiled/application.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      {{ page.script }}
    });
  </script>
</head>

<body>
	<section class="sidebar">
		<a href="/">
		  <img src="/images/sarat_125.jpg" width="120" class="avatar" />
		</a>

		<section class="name">
		  <a href="/">
			<span id="sarat">Sarath</span>
		  </a>
		</section>

		<section class="meta">
			<h2>Subscribe</h2>
			<a href="http://feeds.feedburner.com/isarat" class="ss-icon ss-social">rss</a>
			<h2>Social</h2>
		  <a href="https://github.com/isarat" class="ss-icon ss-social">octocat</a>
		  <a href="https://plus.google.com/118248563399780256607" class="ss-icon ss-social">googleplus</a>
		  <a href="https://twitter.com/sarat" class="ss-icon ss-social">twitter</a>
		  <a href="http://t.sarat.in" class="ss-icon ss-social">tumblr</a>
		  <a href="http://instagram.com/sarath" class="ss-icon ss-social">instagram</a>
		  <a href="http://stackoverflow.com/users/59249/sarat" class="ss-icon ss-social">stackoverflow</a>
		</section>

		<section class="sections">
			<ul>
				<li><a href="/about">about</a></li>
				<li><a href="/colophon">colophon</a></li>
				<li><a href="/articles">published articles</a></li>
			</ul>
		</section>
	</section>

		{{ content }}

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2191463-7']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>

</html>
